<!DOCTYPE html>
<html ng-app="TabScrollDemo" ng-controller="MainCtrl as main">

  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.js"></script>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css" />
    <script src="app.js"></script>
    
    <!-- links to files of angular-ui-tab-scroll  -->
    <link rel="stylesheet" href="../angular-ui-tab-scroll.css" />
    <script src="../angular-ui-tab-scroll.js"></script>

  </head>

  <body>
    <div style="padding:30px">
    <h1>Demo for angular-ui-tab-scroll</h1>
    <a href="https://github.com/VersifitTechnologies/angular-ui-tab-scroll">https://github.com/VersifitTechnologies/angular-ui-tab-scroll</a>

    <br/><br/><br/><br/>
    <scrollable-tabset api="main.scrlTabsApi">
      <tabset>
        <tab ng-repeat="tab in main.tabs">
          <tab-heading>{{tab.heading}}</tab-heading>
          <div style="background-color: #FBFBFB; padding: 50px">{{tab.content}}</div>
        </tab>
      </tabset>
    </scrollable-tabset>

    <br/><br/><br/><br/><br/><br/>
    <button type="button" class="btn btn-default" ng-click="main.addTab()">add tab</button>
    <button type="button" class="btn btn-default" ng-click="main.removeTab()">remove tab</button>
    <button type="button" class="btn btn-default" ng-click="main.reCalcScroll()">re-calculate scroll</button>
  </div>
  </body>

</html>
